.modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
   
}
.bg-active{
    visibility: visible;
    opacity: 1;
}

.modal{
    position: relative;
    background-color: white;
    /*Back up */
    width: 38vw;
    height: 19vw;
    /***/
    width: min(38vw, 67.26vh);
    height: min(19vw, 33.63vh);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
}
@media only screen and (max-width: 900px){
    .modal{
        width: 350px;
        height: 175px;
    }
    .modal h1{
        font-size: 17px !important;
    }
    .modal input{
        width: 200px !important;
        font-size: 14px !important;
    }
    #enter{
        font-size: 12px !important;
        margin-top: 30px !important;
    }
    .modal-close{
        font-size: 15px !important;
    }
    
}
@media only screen and (max-height: 550px){
     .modal{
        width: 350px !important;
        height: 175px !important;
    }
    .modal h1{
        font-size: 17px !important;
    }
    .modal input{
        width: 200px !important;
        font-size: 14px !important;
    }
    #enter{
        font-size: 12px !important;
        margin-top: 30px !important;
    }
    .modal-close{
        font-size: 15px !important;
    }
}
.modal h1{
    /*Back up */
    font-size: 1.83vw;
    /***/
    font-size: min(3.25vh, 1.83vw);
    padding: 0% 0% 8%;
    position: absolute;
    top: 20%;
    font-weight: 400;
}
#description{
    width: 60%;
    height: 10%;
}
form{
    display: flex;
    flex-direction: column;
    
}
form label{
    display: none;
}
#enter{
    width: 100%;
    display: block;

    margin-right: 0 auto;
    margin-top: 10%;

    padding: 2% 4%;

    background-color: rgb(0, 89, 255);
    color: white;
    border: none;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    border-radius: 4px;
    /*Back up */
    font-size: 1.13vw;
    /***/
    font-size: min(2vh, 1.13vw);
}
#enter:hover{
    text-decoration: underline;
}
.modal form{
   position: absolute;
   top: 50%;
}
.modal input{ 
    /*Back up */
    width: 23vw;
    height: 1.9vw;
    /***/

    width: min(40vh, 23vw);
    height: min(3.5vh, 1.9vw);

    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgb(0, 89, 255);
    outline: 0;
    /*Back up */
    font-size: 1.512vw;
    /***/
    font-size: min(2.7vh, 1.512vw);
    font-weight: 700px;
}

.modal-close{
    position: absolute;
    top: 3%;
    right: 3%;
    font-weight: bold;
    cursor: pointer;
    /* Back up */
    font-size: 1.69vw;
    /****/
    font-size: min(3vh, 1.69vw);
    color: #0A2A66;
}
.modal-close:hover{
    color:rgb(0, 89, 255);
}
.modal-error{
    font-size: 15px;
    color: red;
    visibility: visible;
    opacity: 1;
}

.user-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 6;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.user-active{
    visibility: visible;
    opacity: 1;
}
.user-modal{
    position: fixed;
    top: 100px;
    right: 3vw;
    background-color: white;
    /*Back up */
    width: 19vw;
    height: 30.8vw;
    /****/
    width: min(19vw, 33.63vh);
    min-width: 197px;
    height: min(30.8vw, 55vh);
    min-height: 319.14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    box-shadow: -3px 2px 10px rgb(202, 201, 201), 3px 3px 10px rgb(202, 201, 201);

    overflow-y: visible;
}
@media only screen and (max-width: 900px){
    #name{
        font-size: 15px !important;
    }
    #email{
        font-size: 15px !important;
    }
    #modalImg{
        height: 100px;
        width: 100px;
    }
    .hover-content{
        height: 100px;
        width: 100px;
    }
    .hover-content p{
        font-size: 12px !important;
    }
}
#modalImg{
    position: absolute;
    top: 5%;
    margin: 0 auto;
    /*Back up */
    width: 8.4vw;
    height: 8.4vw;
    /****/
    height: min(15vh, 8.4vw);
    width: min(15vh, 8.4vw);
    min-height: 90px;
    min-width: 90px;


    border-radius: 100px;
    object-fit: scale-down;
    background-size: cover;
    outline: none;
    border: none;

    padding: 0;
}

.hover-content{
    display: none; /*Add back for image upload*/
    opacity: 0;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    /*Back up */
    width: 8.4vw;
    height: 8.4vw;
    /****/
    height: min(15vh, 8.4vw);
    width: min(15vh, 8.4vw);
    min-height: 90px;
    min-width: 90px;
    border-radius: 100px;
    background-color: grey;
    z-index: 10;

    text-align: center;
}

.hover-content p{
    position: absolute;
    top: 30%;
    color: white;
    margin: 0 auto;
    opacity: 1;
    z-index: 25;
    font-family: 'Lato', sans-serif;
    /*Back up*/
    font-size: 1vw;
    /****/
    font-size: calc(7px + min(1vh, .56vw));

}

#modalImg:hover .hover-content{
    opacity: 0.8;

}
#modalImg:hover .hover-content p{
    opacity: 1;

}

#logoutClose{
    position: absolute;
    top: 1.5%;
    right: 5%;
    font-weight: 100;
    cursor: pointer;
    /*Back up */
    font-size: 1.5vw;
    /***/
    font-size: calc(15px + min(.56vh, .27vw));
    color: #0A2A66;
}
#logoutClose:hover{
    color: rgb(41, 66, 112);
}
#imgForm p{
    visibility: hidden;
}

.user-modal a{
    position: absolute;
    margin: 0 auto;
    top: 75%;
    text-align: center;
    color: #0A2A66;
    border: 1px solid #0A2A66;
    text-decoration: none;
    text-decoration: none;
    font-size: 15px;
    background-color: white;
    /* Back up */
    padding: 3px 13px;
    border-radius: 3px;
    /***/
    padding-top: min(1vh, .56vw);
    padding-bottom: min(1vh, .56vw);
    padding-left: min(3vh, 1.68vw);
    padding-right: min(3vh, 1.68vw);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    z-index: 10;
}
.user-modal a:hover{
    background-color:  #f7f8fa;
}
#name{
    position: absolute;
    top: 40%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    /* Back up */
    font-size: .7vw;
    /****/
    font-size: calc(9px + min(1vh, .56vw));
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 0;
}
#email{
    font-family: 'Lato', sans-serif;
    position: absolute;
    text-align: center;
    top: 50%;
    border-bottom: 1px solid grey;
    padding-bottom: 10%;
    /* Back up */
    font-size: 1.25vw;
    /****/
    font-size: calc(9px + min(1vh, .56vw));
    
    font-weight: 300;
    margin-top: 0;
    padding-top: 0;
}


/* Choosing classes */

.choices-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 8;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.choices-active{
    opacity: 1;
    visibility: visible;
}
.choices{
    position: relative;
    top: 9%;
    background-color: rgb(56, 84, 136);
    width: min(38vw, 67.26vh);
    height: min(19vw, 33.63vh);
    min-width: 400px;
    min-height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;

}
#choicesClose{
    position: absolute;
    top: 5%;
    right: 5%;
    font-weight: 100;
    cursor: pointer;
    font-size: calc(15px + min(.56vh, .27vw));
    color:white;
}
.section-prompt{
    color: white;
    font-size: calc(13px + min(1vh, .56vw));
    position: absolute;
    top: 10%;
    width: 100%;
    margin: 0 auto;
}
.choose-section-modal{
    width: 100%;
    height: 100%;
    text-align: center;
}
.class-form-modal{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}
.class-form-modal p{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 40%;
}
.class-form-modal button{
	font-size: 15px;
	background-color: rgb(56, 84, 136);
	color: white;
	border: 1px solid white;
	border-radius: 3px;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;

    outline: none;
    width: 50%;

    position: absolute;
    bottom: 10%;
    cursor: pointer;
}
/* Dropdown styling */
.choices-page-modal{
    width: 125px;
	height: 35px;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: white;
	background-color: white;
	
	border: 1px solid white;
	border-radius: 3px;
	outline: none;
}

/* Side Modal */

.side-modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
   
}
.side-bg-active{
    visibility: visible;
    opacity: 1;
}

.side-modal{
    position: absolute;
    left: 0;
    background-color: white;
    width: 65vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}
.side-modal h1{
    position: absolute;
    top: 3%;
    font-size: min(3.5vh, 1.96vw);
    font-weight: 200;
}
.side-modal-close{
    position: absolute;
    top: 1%;
    right: 2%;
    font-weight: bold;
    cursor: pointer;
    font-size: min(3vh, 1.69vw);
    color: #0A2A66;
}

@keyframes slideOut{
    from{
        width: 0vw;
    }
    to{
        width: 65vw;
    }
}
/* Modal settings for large screen sizes */

@media only screen and (min-width: 1800px){
    /* user modal */
    .user-modal{
        width: 350px;
        height: 567px;
    }
    .user-modal a{
        font-size: 20px;
        padding: 6px 26px;
    }
    #name{
        font-size: 25px !important;
    }
    #email{
        font-size: 25px !important;
    }
    .modal-close{
        font-size: 22px !important;
    }
    
    #modalImg{
        width: 136px;
        height: 136px;
    }
    .hover-content{
        width: 136px;
        height: 136px;
    }
    .hover-content p{
        font-size: 18px;
    }
    /*******/
    /* Create session modal */
    .modal{
        width: 700px !important;
        height: 350px !important;
    }
    .modal h1{
        font-size: 30px !important;
    }
    .modal-close{
        font-size: 25px !important;
    }
    .modal input{
        font-size: 25px !important;
    }
    #enter{
        margin-top: 50px;
        font-size: 20px !important;
        width: 100%;
    }
}