{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link href= "{% static 'default.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link rel="shortcut icon" href="/static/favicon.ico" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    </head>

    <body>
        <div class = "primary">
            <img style = "height: 60px;" id = logo src = "{% static 'collab.png' %}">
        </div>
        <div class = "secondary">
            <h1>Join your classmates by selecting your courses below</h1>
        </div>
    
      
        <a id = "privacy" href = "{% static 'CollabPrivacyPolicy.pdf' %}" target = "_blank">Privacy Policy</a>
        
    </body>

</html>