{% load static %}
{% load joinroom %}
{% load socialaccount %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
Name       : Skeleton 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130902
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Collab Rooms</title>

<link rel="shortcut icon" href="/static/favicon.ico" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--bootstrap stuff-->


<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href= "{% static 'default.css' %}" rel="stylesheet" type="text/css" media="all" />


<script>
	var beamer_config = {
		product_id : 'awoRXhSd25571', //DO NOT CHANGE: This is your product code on Beamer
		//selector : 'selector', /*Optional: Id, class (or list of both) of the HTML element to use as a button*/
		//display : 'right', /*Optional: Choose how to display the Beamer panel in your site*/
		//top: 0, /*Optional: Top position offset for the notification bubble*/
		//right: 0, /*Optional: Right position offset for the notification bubble*/
		//bottom: 10, /*Optional: Bottom position offset for the notification bubble*/
		//left: 10, /*Optional: Left position offset for the notification bubble*/
		button_position: 'bottom-right', /*Optional: Position for the notification button that shows up when the selector parameter is not set*/
		icon: 'bell_lines', /*Optional: Alternative icon to display in the notification button*/
		//language: 'EN', /*Optional: Bring news in the language of choice*/
		//filter: 'admin', /*Optional : Bring the news for a certain role as well as all the public news*/
		//lazy: false, /*Optional : true if you want to manually start the script by calling Beamer.init()*/
		//alert : true, /*Optional : false if you don't want to initialize the selector*/
		//delay : 0, /*Optional : Delay (in milliseconds) before initializing Beamer*/
		//embed : false, /*Optional : true if you want to embed and display the feed inside the element selected by the 'selector' parameter*/
		//mobile : true, /*Optional : false if you don't want to initialize Beamer on mobile devices*/
		//notification_prompt : 'sidebar', /*Optional : override the method selected to prompt users for permission to receive web push notifications*/
		//callback : your_callback_function, /*Optional : Beamer will call this function, with the number of new features as a parameter, after the initialization*/
		//onclick : your_onclick_function(url, openInNewWindow), /*Optional : Beamer will call this function when a user clicks on a link in one of your posts*/
		//onopen : your_onopen_function, /*Optional : Beamer will call this function when opening the panel*/
		//onclose : your_onclose_function, /*Optional : Beamer will call this function when closing the panel*/
		//---------------Visitor Information---------------
		//user_firstname : "firstname", /*Optional : Input your user firstname for better statistics*/
		//user_lastname : "lastname", /*Optional : Input your user lastname for better statistics*/
		//user_email : "email", /*Optional : Input your user email for better statistics*/
		//user_id : "user_id" /*Optional : Input your user ID for better statistics*/
	};
</script>
<script type="text/javascript" src="https://app.getbeamer.com/js/beamer-embed.js" defer="defer"></script>
<!--<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />-->
<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
<script src="https://kit.fontawesome.com/062d86a845.js" crossorigin="anonymous"></script>
<!--icons-->
<!--
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<script src="https://apis.google.com/js/platform.js" async defer></script> 
-->
<!--google API shit-->
<script src = "{% static 'index.js' %}" defer></script>
<!--main script for HOMEPAGE-->
<script src = "{% static 'sessionpopup.js' %}" defer></script>
<!--Starting a session popup script-->
<link href = "{% static 'sessionpopup.css' %}" rel = "stylesheet">
<!--Starting a session popup css-->

<!--Text Editor-->
<script src="https://cdn.ckeditor.com/ckeditor5/21.0.0/decoupled-document/ckeditor.js"></script>


<!--File Upload Button style bootstrap-->
</head>
<body>
<div id="page" class="container"> <!--left side container-->
	<!--
	<div class = "banner">
			<img style = "height: min(10vh, 5.63vw)" id = logo src = "{% static 'collab1.png' %}">
			<a id = "signout" href = "/accounts/logout/">Logout</a>
	</div>-->
	<div class = "banner">

		<div class="corner-ribbon top-left sticky red shadow">BETA</div>

		<img style = " height: 65px; width: auto;" id = logo src = "{% static 'collab.png' %}">
		{% if course != "" %}
			<button class = "modal-btn" id = "create">Start Session</button>
		{% endif %}

		{% block content%}
		{% if user.profile.image == "" %}
			<button id = "signout" class = "signout" data-tooltip = "Profile" style="background-image: url('{{user.socialaccount_set.all.0.get_avatar_url}}'); justify-content: center;">
		{% else %}
			<button id = "signout" class = "signout" data-tooltip = "Profile" style="background-image: url('{{user.profile.image.url}}'); justify-content: center;">
		{% endif %}
		</button>

		<!--href = "/accounts/logout/"-->
</div>

<!--Sidebar Modal-->
<div class="side-modal-bg">
	<div class="side-modal">
		<span class = "side-modal-close">
			<i class="fas fa-times"></i>
		</span>

			<h1>Shared Notes</h1>

		<div class="document-editor">
			<div class="document-editor__toolbar"></div>
			<div class="document-editor__editable-container">
				<div class="document-editor__editable">

					{% for room in rooms %}
						{{room.notes|safe}}
					{% endfor %}

					<form method="post">
						{% csrf_token %}
						{{ text_form.media }} 
						{{ text_form.as_p }}
						<input type="submit" value="Save">
					</form>

				</div>
			</div>
		</div>

	</div>
</div>

	<div class = "banner_2">
		{% if course == "" %}
			<h1>Welcome to your library!</h1>
			<p>Here you can join study groups. Select a class on the left menu to create your own!</p>
		{% else %}
			<h1>Welcome to {{course|slice:"5:"|truncatechars:28}}!</h1>
			<p>Here you can find study groups for assignments you are working on.</p>
		{% endif %}
		
		
	</div>
	
	
	<!-- <div id = "header-ghost"></div> -->
	<div id="header"> <!--navbar-->
		
		<div>
			{% if user.profile.school == "columbia" %}
				<img src = "{% static 'culogo.png' %}">
			{% elif user.profile.school == "harvard" %}
				<img src = "{% static 'harvardlogo.png' %}">
			{% elif user.profile.school == "princeton" %}
				<img src = "{% static 'plogo.png' %}">
			{% else %}
				<img src = "{% static 'culogo.png' %}">
			
			{% endif %}
		</div>
		
		
		<div id="menu">
			<ul id = "bar">
				<li class = "current-user">
					<i class="fas fa-circle"></i>
					<p>{{user.username|truncatechars:18}}</p>
				</li>
				<li class="time">
					<p>Fall 2020</p>
				</li>
				<li class="headers">
					<i class="fas fa-caret-down"></i>
					<p>Your Courses</p>

					<!-- <button class = "choices-modal">
						<i class="fas fa-cog"></i>
					</button> -->
					<a href = '/classes/'>
						<i class="fas fa-cog"></i>
					</a>

				</li>
				<!--<li id = 'all_rooms' class ="all_rooms"><a href="#" accesskey="2" title="">ALL ROOMS</a></li>
				<li id = 'COMS_1004' class ="current_page_item"><a href="#" accesskey="2" title="">COMS 1004</a></li>
				<li id = 'MATH_25'><a href="#" accesskey="3" title="">MATH 25</a></li>-->
				{% if course == "" %}
				<li class = 'list'>
					<a href="/" class="classes active">
						<i class="fa fa-bookmark active"></i>
						<p>ALL CLASSES</p>
					</a>
				</li>
				{% else %}
				<li class = 'list'>
					<a href="/" class="classes">
						<i class="far fa-bookmark"></i>
						<p>ALL CLASSES</p>
					</a>
				</li>
				{% endif%}
				{% for class in classes %}
					{% if class != '----' %}
						{% if user.profile.school == "columbia" %}
							{% if class == course %}
							<li class = 'list'>
								<a href='/class{{ forloop.counter }}' class="classes active">
									<i class="fa fa-bookmark active"></i>
									<p>{{class|slice:"5:"|truncatechars:26}}</p>
								</a>
							</li>
							{% else %}
							<li class = 'list'>
								<a href='/class{{ forloop.counter }}' class="classes">
									<i class="far fa-bookmark"></i>
									<p>{{class|slice:"5:"|truncatechars:26}}</p>
								</a>
							</li>
							{% endif%}
						{% else %}
							{% if class == course %}
								<li class = 'list'>
									<a href='/class{{ forloop.counter }}' class="classes active">
										<i class="fa fa-bookmark active"></i>
										<p>{{class|truncatechars:26}}</p>
									</a>
								</li>
							{% else %}
								<li class = 'list'>
									<a href='/class{{ forloop.counter }}' class="classes">
										<i class="far fa-bookmark"></i>
										<p>{{class|truncatechars:26}}</p>
									</a>
								</li>
							{% endif%}
						{% endif %}
					{% endif %}

				{% endfor %}
				<!-- <li class = 'list'>
					<a href="/" class="classes">
						<i class="far fa-bookmark"></i>
						<p>LIT HUM</p>
					</a>
				</li>
				</li>
				<li class = 'list'>
					<a href="/section" class="classes">
						<i class="far fa-bookmark"></i>
						<p>{{ user.profile.section|truncatechars:15 }}</p>
					</a>
				</li> -->
			</ul>
			
			<button class = "modal-btn" id = "create-mobile">Start Session</button>
			
		</div>
	</div>
	<div class="current_rooms">


		<!--
		<div class = "page_title">
			<button class = "modal-btn">Start Session</button>
		</div>-->
			{% for room in rooms %}
			{% if room.title != "inactive" %}
			<div class = "current_room_example">

				{% if room.title|length >= 39 %}
					<p class = "name" data-tooltip = "{{room.title}}">{{room.title|truncatechars:39}}</p>
				{% else %}
					<p class = "name">{{room.title}}</p>
				{% endif %}
				<!--CK EDITOR-->

				<!-- <button type="button" class="open-doc" data-toggle="modal" data-target="#myModal">
					<i class="fas fa-expand-alt"></i>

				</button> -->

				<div class = "inner_room" id = 2>
					{% for user in users %}
						{% if user.room == room %}
						<div class = "user_bars">
							{% if user.image == "" %}
								<img src = '{{user.user.socialaccount_set.all.0.get_avatar_url}}'>
							{% else %}
								<img src = '{{user.image.url}}'>
							{% endif %}

								<p>{{user.user.get_full_name|truncatechars:20}}</p>
						</div>
						{{ counter.increment }}
						{% endif %}
					{% endfor %}
				</div>
				<div class = "people">
					<a class = "join_room" room-name = "{{room.meeting_id}}" href = "{{room.zoom_url}}" target = '_blank'>Join Room</a>
					<i class="fas fa-users"></i> 
					<p>{{counter.count}}</p>
					{{ counter.zero }}
				</div>
			</div>
			{% endif %}
		{% endfor %}
	
	
	</div>

	<a id = "feedback" class = "feedback" data-tooltip = "Give us Feedback!" href = "https://docs.google.com/forms/d/e/1FAIpQLSdCZKcME2VdzqRcdVepz6r96qQIbHNuXtQYWjDimwvDTUqlgQ/viewform?usp=sf_link
" target = "_blank">
		<i class="far fa-comment-alt"></i>
	</a>
</div>
	<div class="modal-bg">
		<div class="modal">
			<h1>What's this meeting for?</h1>
			<form id = "post_text" method = "post">
				{% csrf_token %}
				<!--<input id = "description" style = "font-size: 20px"></form>-->
				{{form}}
				<button type = "submit" target = "_blank" id = "enter">Create Session</button>
			</form>
			<span class = "modal-close">
				<i class="fas fa-times"></i>
			</span>
		</div>
	</div>

	<div class="user-bg" id = "user-bg">
			<div class="user-modal" id = "user-modal">

				<span class = "modal-close" id = "logoutClose">
					<i class="fas fa-times"></i>
				</span>
				

				{% if user.profile.image == "" %}
				<!-- Enables image upload  -->
				<!-- onclick="$('#id_image').click();" -->
				<button id = "modalImg" style = "background-image: url('{{user.socialaccount_set.all.0.get_avatar_url}}')">
					<div class="hover-content">
						<p>Change Profile Picture</p>
					</div>
				</button>
				<form action="{% url 'uploadImage' %}"method = "post" id = "imgForm" enctype="multipart/form-data">
					
					{% csrf_token %}
					{{img_form.as_p}}

					<!--<button type="submit">Upload</button> -->
				</form>

			{% else %}
			<!-- onclick="$('#id_image').click();" -->
			<button id = "modalImg"  style = "background-image: url('{{user.profile.image.url}}')">
				<div class="hover-content">
					<p>Change Profile Picture</p>
				</div>
			</button>
				<form action="{% url 'uploadImage' %}" method = "post" id = "imgForm" enctype="multipart/form-data">
					
					{% csrf_token %}
					<!--<input id = "description" style = "font-size: 20px"></form>-->
					{{img_form.as_p}}

					<!--<button type="submit">Upload</button> -->
				</form>
			{% endif %}

				<p id = "name">{{user.get_full_name|truncatechars:25}}</p>
				<p id = "email">{{user.email|truncatechars:24}}</p>
				<a href = "/accounts/logout/">Logout</a>
		</div>
	
</div>

<div class = "choices-bg">
	<div class = "choices">

		<span class = "choices-close" id = "choicesClose">
			<i class="fas fa-times"></i>
		</span>
		
		<div class = "choose-section-modal">
			<p class = "section-prompt">
				What section are you in?
			</p>
			<form class = "class-form-modal" action="{% url 'selectClass' %}" method = "post">
				{% csrf_token %}
				{{section_form.as_p}}
				<button type = "submit">Select Course</button>
			</form>
		</div>
		{% endblock content%}

	</div>

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
$('.join_room').click(function(){
	var room;
	room = $(this).attr("room-name");
	$.ajax(
	{
		type:"GET",
		url: "/joinroom",
		data:{
				room_id: room
		},
		success: function( data ) 
		{
			location.href = '{% url 'studyApp-home'%}'; 
			
		}
	})
});

var frm = $('#post_text');
frm.submit(function () {
	//var course = document.querySelector('.active').children[1].textContent
	var loc = window.location.pathname
	var course
	var section = document.getElementsByClassName('classes')[1];
	/*if(loc == '/section/'){
		//course = "SECTION ABC"
		course = section.children[1].textContent
	}
	else{
		course = "LITHUM"
	}*/
	var suffix
	var index
	for(var i = 1; i < 6; i++){
		suffix = '/class' + i + '/';
		if(loc == suffix){
			index = i
			//course = document.getElementsByClassName('classes')[i-1].children[1].textContent;
			course = index - 1
		}
	}
	$.ajax({
		type: "GET",
		url: "/createroom",
		data: {
			room_title: frm.serializeArray()[1].value,
			course: course
		},
		success: function (data) {
			window.open(data.meeting, '_blank');
			
			link = '/class' + index + '/';
			window.open(link, "_self");
			/*
			if(course == 'LITHUM'){
				window.open('{% url 'studyApp-home'%}', "_self");
			}
			
			else{
				window.open('{% url 'studyApp-section'%}', "_self");
			}*/
			

		},
		error: function(data) {
			// something went wrong
		}
	});
	return false;
});
</script>
</body>
</html>